* {
  margin: 0;
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Section - Navbar */

  .navbar {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    padding: 16px 16px;
    align-items: center;
    gap: 20px;
  }

  .navbar svg {
    width: 56px;
    height: 22px;
  }

  .navbar__link {
    text-decoration: none;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1c2085;
    justify-self: center;
    padding: 0 5px;
  }

  .navbar__link--active {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1c2085;
    border-bottom: 2px solid #5454d4;
    padding-bottom: 5px;
  }

  /* Section - Content */

  /* container for absolute elements to simulate that these elements are still in the flow of the document */
  .content {
    height: 550px;
  }

  .content__bg--2 {
    position: absolute;
    z-index: 2;
    top: 55px;
    left: 0;
    width: 250px !important;
  }

  .content__bg--1 {
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 0;
    width: 700px !important;
  }

  .content__text {
    position: absolute;
    z-index: 4;
    width: 70%;
    top: 10%;
    left: 10%;
    color: #ffffff;
  }

  .content__text--main {
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
  }

  .content__subscribe {
    display: none;
  }

  .content__subscribe--text {
    display: none;
  }

  .content__subscribe--input {
    display: none;
  }

  .content__subscribe--input:focus {
    display: none;
  }

  .content__subscribe--button {
    display: none;
  }

  .content__subscribe--button:focus {
    display: none;
  }

  .content__video {
    position: absolute;
    z-index: 4;
    width: 79.5%;
    color: #ffffff;
    top: 45%;
    left: 10.5%;
  }

  .content__video--style {
    width: 100%;
    border-radius: 4px;
  }

  .content__video--play-button {
    position: absolute;
    z-index: 4;
    top: 24%;
    right: 30%;
    width: 100px;
    height: 100px;
  }

  .content__social-icons-for-company {
    position: absolute;
    z-index: 4;
    top: 23%;
    right: 5%;
  }

  .content__social-icons-for-company-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
  }

  .content__down-arrow {
    position: absolute;
    z-index: 4;
    color: #ffffff;
    top: 37.5%;
    left: 50%;
    width: 30px;
    height: 30px;
  }

  /* Section - Team */

  .team {
    text-align: center;
    padding: 0 0 50px;
  }

  .team__text {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 12px;
    color: #1c1f83;
    padding: 0 0 50px;
  }

  .team__members {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    padding: 0 30px;
    grid-auto-flow: column;
    overflow-x: scroll;
  }

  .team__member--name {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #38a5db;
    padding: 20px 0px 10px;
  }

  .team__member--name a {
    text-decoration: none;
    color: #38a5db;
  }

  .team__member--position {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.26px;
    color: #011226;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .team__member--info {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #45515f;
    padding: 10px 20px 40px;
  }

  .team__member--social-icons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }

  .team__member--social-icons-icon-container {
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 3px;
    width: 50px;
  }

  .team__member--social-icons-icon {
    color: #001832;
  }

  .team__scroller {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 15px;
    margin: 50px 0 0 0;
  }

  .team__scroller-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #c4c4c4;
  }

  .team__scroller-circle--active {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4250bf;
  }

  /* Section - Contact */

  .contact {
    text-align: center;
    background: #252b42;
    padding: 0 0 100px;
  }

  .contact__text {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 12px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 100px 0 25px;
  }

  .contact__info {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }

  .contact__form {
    width: 288px;
    height: 370px;
    background: #4250bf;
    border-radius: 13.0742px;
    text-align: left;
    margin: 60px auto 0 !important;
  }

  .contact__form--input-text {
    width: 200px;
    height: 46px;
    background: #ffffff;
    border-radius: 25px;
    border: none;
    padding: 0 20px;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #576677;
  }

  .contact__form--input-text-1 {
    margin: 70px 24px 20px;
  }

  .contact__form--input-text-2 {
    margin: 0 24px 20px;
  }

  .contact__form--input-text:focus {
    outline: none;
  }

  .contact__form--input-group {
    margin: 10px 24px 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    gap: 10px;
  }

  .contact__form--input-checkbox-container {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border-radius: 4px;
  }

  .contact__form--input-checkbox {
    background: #38a5db;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .contact__form--input-label {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    width: 78px;
    height: 20px;
  }

  .contact__form--input-button {
    width: 95px;
    height: 46px;
    background: #38a5db;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
    border-radius: 23px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 30px 24px 0;
  }

  .contact__form--input-button:focus {
    width: 95px;
    height: 46px;
    background: #38a5db;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
    border-radius: 23px;
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 30px 40px 0;
    outline: none;
  }

  /* Section - Footer */

  .footer {
    height: 247px;
    background: linear-gradient(
      180deg,
      #fafbff 0%,
      #eff1f9 41.68%,
      #e9ecf6 49.59%,
      #ced3e8 93.91%
    );
  }

  .footer__row1 {
    padding: 20px 20px 55px;
    align-items: center;
    justify-items: center;
  }

  .footer__row1 svg {
    width: 55px;
    height: 22px;
  }

  .footer__row1--contact-info {
    text-align: center;
    padding: 20px 0;
  }

  .footer__row1--contact-info-text {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.32px;
    color: #263396;
    padding: 0 0 15px;
  }

  .footer__row1--contact-info-email {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
    color: #0f81ff;
  }

  .footer__row1--button {
    text-align: center;
    padding: 15px 0 20px;
  }

  .footer__row1--button-style {
    background: #38a5db;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
    border-radius: 23px;
    border: none;
    width: 220px;
    height: 46px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  .footer__row1--button-style:focus {
    background: #38a5db;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
    border-radius: 23px;
    border: none;
    width: 220px;
    height: 46px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    outline: none;
  }

  .footer__row2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px 25px 30px;
    align-items: center;
    justify-items: center;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #45515f;
    gap: 20px;
  }

  /* Section - Modal */

  .modal {
    background: #ffffff !important;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25) !important;
    border-radius: 20px !important;
    padding: 30px 30px !important;
    width: 630px;
    height: 744px;
  }

  .modal .close-modal {
    display: none !important;
  }

  .modal__close {
    text-align: end;
  }

  .modal__name {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 34px;
    text-align: center;
    color: #38a5db;
    padding: 25px 0;
  }

  .modal__position {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.26px;
    color: #011226;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding: 0 0 30px;
  }

  .modal__info {
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #45515f;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 525px;
  }

  .modal__info::-webkit-scrollbar {
    width: 10px;
    background: #2c3676;
    border-radius: 20px;
  }

  .modal__info::-webkit-scrollbar-track {
    width: 10px;
    background: #ffffff;
    border-radius: 20px;
  }

  .modal__info::-webkit-scrollbar-thumb {
    width: 10px;
    background: #2c3676;
    opacity: 0.4;
    border-radius: 20px;
  }
}
